@{
    ViewData["Title"] = "Página principal";
}

<div class="container">

    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/slide4.jpg" class="d-block w-75" alt="..." style="margin: 0 auto">
            </div>
            <div class="carousel-item">
                <img src="~/images/slide5.jpg" class="d-block w-75" alt="..." style="margin: 0 auto">
            </div>
            <div class="carousel-item">
                <img src="~/images/slide6.jpg" class="d-block w-75" alt="..." style="margin: 0 auto">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div  style="text-align: justify; padding: 20px 40px; font-size: 20px">
        <p>
            O Instituto Nacional de Câncer (INCA) estima que, para cada ano do triênio 2020/2022,
            sejam diagnosticados no Brasil 8.460 novos casos de câncer infantojuvenis. Esse estudo de
            projeção publicado pelo instituto em 2020 chama-se Estimativa de Incidência de Câncer
            no Brasil e visa mapear a incidência de novos casos por estados e formular um índice 
            mais condizente com a realidade, para que haja ações de saúde pública e
            controle da doença específicas para esse público. Porém, conforme observado, o tratamento 
            para crianças e adolescentes não deve ter o foco exclusivo no aspecto
            medicamentoso, mas, principalmente, no atendimento emocional e psicológico desses jovens 
            que estão passando por um sério período de dificuldades, inclusive para compreender
            o que está acontecendo com o seu próprio corpo e o impacto dessas transformações na
            sua rede de afeto e proteção, formada pela família e amigos.
        </p>
        <div style="float: right">
            <img src="~/images/vanessa-maia.jpg" style="width:400px; height:400px; margin-left: 30px;"/>
        </div>
        <p>
            Nesse sentido, a escritora e pesquisadora Vanessa da Rocha Maia, enfermeira especializada 
            na assistência de pacientes onco-hematológicos, criou o projeto Letras e Canções
            que Ajudam a Entender com o intuito de elaborar um material pedagógico que auxiliasse
            familiares, educadores, profissionais da saúde e, sobretudo, as crianças a lidar com os
            desafios que envolvem o tratamento do câncer.
        </p>
        <p>
            Em linguagem lúdica e adequada à faixa etária, os livros publicados pelo projeto
            contam com histórias e músicas que oferecem uma reflexão sobre o dia-a-dia do cuidado
            com os procedimentos a serem realizados pelas crianças, como a série “Nina e a máquina do 
            tempo”, publicada em parceria com a Fundação Pró-Hemorio, em que
            a protagonista deve vencer obstáculos e participar de várias aventuras, como realizar
            o exame de sangue. Pouco tempo depois, Vanessa desenvolve o trabalho chamado A
            Banda do Chapéu. A narrativa conta a história de Joana, uma menina
            que pertence a uma banda de música e que se afasta dos amigos devido a uma doença
            oncológica e necessita de hospitalização.
        </p>
        <p style="display:block">
            O SACC (Sistema de apoio à criança com câncer) foi desenvolvido com o objetivo de divulgar o trabalho realizado pela escritora,
            de forma gratuita e on-line. Desta forma, permite que as próprias crianças leiam e ouçam as histórias de forma descomplicada e interativa.
            Com o objetivo de aumentar a abrangência do site, também serão adicionadas outras histórias que não estão diretamente ligadas ao câncer infantil,
            mas estão ligadas às doenças enfrentadas pelas crianças de forma geral.
        </p>
        <p>
            A biblioterapia tem se mostrado de grande valia na superação de doenças infantis. Isso acontece, porque a leitura enquanto terapia proporciona um
            estado de relaxamento e alegria, que leva aqueles que leem a se colocar entre as situações vivenciadas pelas personagens, sendo este um espaço,
            a um só tempo, de fuga da realidade objetiva e de reflexão sobre a vida.
        </p>
        <p>
            Tal experiência empática e interativa faz com que o paciente aceite melhor o tratamento e o medo da doença.
            Por esse motivo, é tão importante que a criança em tratamento oncológico se sinta representada pelo material literário que lhe é oferecido como
            suporte psicológico/emocional, pois há uma relação intrínseca entre leitura e formação da identidade, ou seja, como acriança se percebe em sua
            subjetividade e como indivíduo.
        </p>
    </div>

</div>