@model SACC.Models.Book;

@{
    ViewData["Title"] = "";
}

<div>
    <h1 style="text-align:center">@Model.Title</h1>
    <div style="display: flex; justify-content: center;">
        <iframe src="~/pdf/@Model.BookFile" style="width: 100%; height:80vh"></iframe>
    </div>
</div>
