<div class="row">
    <div class="col-3" style="background-color:aqua">
        @await Html.PartialAsync("Left.cshtml")
    </div>
    <div class="col-6" style="background-color:aquamarine">
        @await Html.PartialAsync("Middle.cshtml")
    </div>
    <div class="col-3" style="background-color:beige">
        @await Html.PartialAsync("Right.cshtml")
    </div>
</div>